*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    overflow: hidden;
}

.alert{
    width: 35%;
}

.msg{
    text-transform: uppercase;
}

.container-fluid{
    background-color: #D5DFE7;
    padding: 0px 50px;
    min-height: 100vh;
    padding: 30px 0;
}

.__row{
    min-height: 100vh;
}

.container{
    flex-direction: column;
    min-height: 100%;
    padding: 0;
}

.__column h1{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #023047;
}

.__column form{
    width: 35%;
    padding: 50px;
    background: #D5DFE7;
    box-shadow:  5px 5px 16px #c8d2d9,
             -5px -5px 16px #e2ecf5;
}

form .title{
    font-size: 36px;
    text-align: center;
}

form .__desc-forgot{
    font-size: 14px;
}

form input, form select, form input:focus, form select:focus{
    padding: 10px!important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    background: #D5DFE7;
    box-shadow: inset 5px 5px 16px #c8d2d9 ,
                inset -5px -5px 16px #e2ecf5 !important;
    margin-bottom: 10px;
}

form .__reset-btn{
    padding: 12px 24px;
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #005682 !important;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0px 0px 0px #c8d2d9,
                inset 0px 0px 0px #e2ecf5 !important;
}

form .__reset-btn:hover{
    background-color: #002c42 !important;
    color: #ffffff;
}

form .__back-btn{
    text-align: center;
    padding: 12px 24px;
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #002c42 !important;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.900);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    box-shadow: inset 0px 0px 0px #c8d2d9,
                inset 0px 0px 0px #e2ecf5 !important;
}

form .__back-btn:hover{
    background-color: #005682 !important;
    color: #ffffff;
    text-decoration: none;
}

.error{
    color: rgba(255, 0, 0, 0.5);
    font-weight: 600;
    font-size: 13px;
}

@media (min-width: 768px) and (max-width: 992px){
    .alert{
        width: 60%;
    }

    .__column{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .__column form{
        width: 60% !important;
        padding: 40px !important;
    }

    .title{
        padding-top: 20px;
        padding-bottom: 5px;
        line-height: 35px;
    }

    .__desc-forgot{
        padding-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px){

    .alert{
        width: 70%;
    }

    .__column{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .__column form{
        width: 70% !important;
        padding: 40px !important;
    }

    .title{
        padding-top: 20px;
        padding-bottom: 5px;
        line-height: 35px;
        text-align: center;
    }

    .__desc-forgot{
        padding-bottom: 10px;
    }
}

@media (max-width: 576px){

    .alert{
        width: 90%;
    }
    
    .__column{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .__column form{
        width: 90% !important;
        padding: 30px !important;
    }

    .title{
        padding-top: 20px;
        padding-bottom: 5px;
        line-height: 35px;
    }

    .__desc-forgot{
        padding-bottom: 10px;
    }
}